    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="bollywoodnews">Bollywood News</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact us</a>
              </li>
              <li class="nav-item">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Login
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
          <div class="form-group">
            <label for="email1">Email address</label>
            <input type="email" class="form-control" id="email1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Password">
          </div>

          <button  class="btn btn-primary" onclick="login()">Login</button>
      
      </div>

    </div>
  </div>
</div>
&nbsp;&nbsp;&nbsp;

              </li>
              <li class="nav-item">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                  Sign up
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel1">Sign up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                       
                          <div class="form-group">
                            <label for="email2">Email address</label>
                            <input type="email" class="form-control" id="email2" aria-describedby="emailHelp" placeholder="Enter email">
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                          </div>
                          <div class="form-group">
                            <label for="password2">Password</label>
                            <input type="password" class="form-control" id="password2" placeholder="Password">
                          </div>

                          <button  class="btn btn-primary" onclick="signup()">Sign up</button>
                       
                      </div>

                    </div>
                  </div>
                </div>
                
                
                              </li>

            </ul>
          </div>
        </div>
      </nav>

<script>
  function login(){
    let email1 = document.getElementById("email1").value
    let password1 = document.getElementById("password1").value
   console.log(email1, password1)
    fetch("/login", {method: "POST", headers: {'Content-Type': 'application/json'}, body: JSON.stringify({email1, password1})}).then((res)=>{return res.json()
            }).then((fres)=>{
              console.log(fres)
            })
          }

  
  function signup(){
    let email2 = document.getElementById("email2").value
    let password2 = document.getElementById("password2").value
   console.log(email2, password2)
    fetch("/signup", {method: "POST", headers: {'Content-Type': 'application/json'}, body: JSON.stringify({email2, password2})}).then((res)=>{return res.json()
            }).then((fres)=>{
              console.log(fres)
            })
          }
       </script>