<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%-include("./components/bootstrap") %>
    <title>Bollywood News</title>
</head>
<body>
    <%- include("./components/header") %> <br><br>
    <div class="container">
       <div class="text-center"> <h1><b>BOLLYWOOD NEWS</b></h1></div>
        <div class="row mb-2" id="news">

        </div>
    </div>

    <script>
        fetch("/bollywoodnewsjson").then((res)=>{
            return res.json()
        }).then((fres)=>{
            
            
            let news = fres.articles
            for(let i=0; i<news.length; i++)
            {
                document.getElementById("news").innerHTML += `
                
                
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary">CINEMA</strong>
              <h3 class="mb-0">
                <a class="text-dark" href="${news[i].url}">${news[i].title}</a>
              </h3>
              <div class="mb-1 text-muted">Nov 12</div>
              <p class="card-text mb-auto">${news[i].description}</p>
              <a href="${news[i].url}">Continue reading</a>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250]" src="${news[i].urlToImage}" data-holder-rendered="true" style="width: 200px; height: 250px;">
            
          </div>
        </div>



                `
            }
        })
    </script>
      <%-include("./components/footer.ejs")%>  
</body>
</html>